@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Works on Chrome, Edge, and Safari */
.no-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.no-scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #143584;
}


.homepage-main {
    width: 100%;
}
.number {
    font-family: Roboto;
    font-size: 75px;
    font-weight: 700;
    line-height: 87.89px;
    text-align: left;
    opacity: 0.1;
    margin-top: -29px;
    margin-bottom: 20px;

}

/* ======================================  navebar  ================================ */

.home-page {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-link:hover {
    color: #143584 !important;
}

.nav-item .active::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #143584;
    bottom: 2px;
    left: 9px !important;
}

.text-blue-color {
    color: #143584 !important;
}


.nav-item .nav-link:hover::after {
    width: 0%;
}

.nav-item .active::after {
    width: 50%;
    left: 5px;
}

.nav-item {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item li {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    padding: 5px 0;
}


.nav-item a:hover::after {
    width: 50%;
    left: 5px;
}


/* ============================================ Body ============================================= */



.main-image {
    background-image: url(Image/bghome.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    max-width: 2000px;
}

/* 
@media screen and (max-width:375) {
    .main-image {
        max-width: 100%;
     }

} */

@media screen and (max-width: 768px) {
    .main-image {
        background-color: #e8f2ff;
        background-image: none;
        background-position: center;
    }
}

.main_page {
    width: 60%;
    padding: 200px 0px 0px 0px;
    margin-left: 22%;
    margin-top: 58px;
}

.multi {
    padding: 100px 30px 30px 70px;
    /* margin-left: -50px; */
    margin-top: 70px;
    width: Hug (705px)px;
    height: Hug (448px)px;
    /* top: 318px; */
    left: 240px;
    gap: 40px;
    opacity: 0px;
}


.health-line {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    text-align: left;
}

.param-line {
    color: #143584;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    text-align: left;

}

.lorem-line {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #8B8B8B;
}

.mobile-lorem {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.moon {
    margin-left: 26%;
    margin-top: -80px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #EDF5FF;
    border-radius: 50px;
    width: fit-content;
    margin: 50px auto;
    height: 60px;
    gap: -10px;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #dfe9fd;
    text-decoration: none;
    font-size: 20px;
    color: #143584;
    transition: background-color 0.3s ease;
    gap: 10px;
    margin-top: 9px;
}

.icon i {
    margin: auto;
}

.divider {
    width: 1px;
    height: 40px;
    background-color: #e8e8e897;
    margin: 0 10px;
}

/* -------leo card------ */
.leo-main-card {
    position: absolute;
    /* bottom: 50px; */
    background-color: #143584;
    width: 165px;
    border-radius: 15px;
    margin-top: -50%;
    margin-left: 57px;
    height: 200px;
}


.card-leodorwart {
    color: #FFFFFF;
    /* margin-left: 25px; */
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 10px;
}

.demisty {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    align-items: center;
    margin-left: 47px;
    width: 66px;
    height: 26px;
    margin-top: -5px;
}

.inner-img {
    /* margin-left: 55px; */
    padding: 20px 0px 0px 0px;
}

.stars-2 {
    margin-top: 10px;
    /* font-size: 10px */
}


.stars2 {
    margin-left: 4px;
}


/* ----small card------ */

.leo-main-card-2 {
    position: absolute;
    background-color: #143584;
    border-radius: 15px;
    margin-left: 65%;
    height: 70px;
    top: 79.5%;
    width: 300px;
    padding: 0px 5px 5px 5px;

}


.card-small-main {
    border-radius: 20px;
}

.leo-small-img {
    padding: 10px;
}

.leo-tital-samll {
    color: #FFFFFF;
    /* margin-left: 10px; */
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 8px;
    /* margin-top: 15px; */

}

.demisty2 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    /* margin-left: 10px; */
}

.icon-leo {
    width: 30px;
    height: 30px;
    background-color: #5a72a9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    color: #FFFFFF;
    /* margin-left: 20px; */
    /* margin-top: 10px; */
}

.main-icon {
    margin-left: 30px;
    margin-top: 17px;
    gap: 10px;
}




/* ===================================== Our Facilities ========================================== */


.param {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: center;
    color: #143584;
    margin-top: 50px;
    margin-left: 1%;
}

.our {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: center;
    margin-left: 2%;
}

.card-title1 {
    color: #143584;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
}

.readmore-icon-f {
    margin-left: 20px;
    margin-top: -5px;
}

.card-group {
    position: relative;
    width: 80%;
    margin-left: 120px;
}

.btn {
    color: #143584;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}

.facilities-icon-prev {
    margin-left: 7px;
}

.facilities-icon-next {
    margin-left: 51%;
    margin-top: -39px;

}

.carousel-control-prev1 {
    border: 1px solid #143584;
    height: 40px;
    width: 40px;
    margin-top: 2%;
    margin-left: 46%;
    background-color: #FFFFFF;
}

.carousel-control-next1 {
    border: 1px solid #143584;
    height: 40px;
    width: 40px;
    margin-top: -1px;
    margin-right: 53%;
    background-color: #FFFFFF;
}


/* -- responsive -- */

.re-our-facilities-img1 {
    width: 50%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 25%;

}

.re-our-facilities-img2 {
    width: 10%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 25%;

    width: 75px;
    height: 100px;
    top: 559px;
    left: 90px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;

}

.re-opd {
    margin-left: 45%;
    margin-top: 25px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
    text-align: left;

}

.carousel-control-prev-re {
    border: 1px solid #143584;
    height: 37px;
    width: 37px;
    margin-top: -100px;
    margin-left: 5%;
    background-color: #FFFFFF;

}

.carousel-control-next-re {
    border: 1px solid #143584;
    height: 37px;
    width: 37px;
    margin-right: 53%;
    background-color: #FFFFFF;

}

.opd-prev-1 {
    margin-left: -10%;
    margin-top: 10px;
}

.opd-next-2 {
    margin-left: 77%;
    margin-top: -35px;
}



/* ==================================== our treatments ===================================== */

.ourtreatment-heading-main-section {
    width: Hug (281px)px;
    height: Hug (85px)px;
    gap: 10px;
    opacity: 0px;
}

.pos-card {
    position: absolute;
    top: -32px;
    bottom: 0;
    left: 42px;
    right: 0;
}

.card-text-treatments {
    margin-left: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

/* .treatments-in-card{
width: 265px;
  height: 154px;
  top: 127px;
  left: 405px;
  gap: 0px;
  opacity: 0px;
} */
.box-icon {
    /* background-color: transparent !important; */
    padding: 5px;
    /* height: fit-content; */
    /* width: fit-content; */
    left: 40px;
    top: -10%;
    background-color: #ffffff;

}



/* .heading-text-incard{
  width: 265px;
    height: 124px;
    gap: 0px;
    opacity: 0px;
} */

.blank {
    padding: 5px;
    box-shadow: 0px 0px 5px rgb(184, 183, 183);
    border-radius: 5px;
}


.card-body-treatments {
    margin-top: 20%;
}

.card-title {
    margin-top: -30px;
    padding-left: 7%;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
}

.card-text {
    font-size: 16px;
    margin-left: 0.5px
}

.icon_right {
    position: relative;
    /* margin-left: 7%; */
    top: 1.5px;
}

.readmore-icon-white {
    margin-left: -30px;
    /* margin-top: 20px; */
}

.card:hover {
    background-color: #143584;
    /* border-radius: 20px; */
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 0px;
}

.card:hover .blank {
    border-radius: 0px;
}

.card:hover .blank {
    filter: brightness(20);
    box-shadow: 0px 0px 0px 1px rgb(255, 237, 237);
}

.card:hover .btn1 {
    color: #FFFFFF;
    color: #143584;
}

.card:hover .btn1 .read {
    display: block;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
}

.card:hover .icon_right {
    opacity: 0;
}

.card:hover .readmore-icon-white {
    opacity: 1;
}

.btn1 {
    text-decoration: none;
    transition: 0.3s;
    display: flex;
}

/* .btn1:hover .icon_right {
  opacity: 0;
}

.btn1:hover .readmore-icon-white {
  opacity: 1;
} */


.read {
    display: none;
    padding-left: 5%;
    margin-left: 6.5px;

}

/* .bg {
  background-color: red;
} */

.about-img {
    margin-top: -90px !important;
}

.about_main {
    width: 18rem;
}

@media screen and (max-width: 768px) {
    .about_main {
        width: 50%;
        margin-top: 10px;
    }
}


.ourtreatment-heading-main-section {
    width: Hug (281px)px;
    height: Hug (85px)px;
    gap: 10px;
    opacity: 0px;
}

.pos-card {
    position: absolute;
    top: -32px;
    bottom: 0;
    left: 42px;
    right: 0;
}

.card-text-treatments {
    margin-left: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.box-icon {
    background-color: transparent !important;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    left: 40px;
    top: -10%;
    background-color: #FFFFFF;

}

.card-test {
    background-color: #FFFFFF;
}

.blank {
    padding: 5px;
    box-shadow: 0px 0px 5px rgb(184, 183, 183);
    border-radius: 5px;
}

.card-body-treatments {
    margin-top: 20%;
    margin-bottom: 8%;
}


.card-title {
    margin-top: -30px;
    padding-left: 7%;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
}

.card-text {
    font-size: 16px;
    margin-left: 0.5px
}

.icon_right {
    position: relative;
    /* margin-left: 7%; */
    top: 1.5px;
}

.readmore-icon-white {
    margin-left: -30px;
    /* margin-top: 20px; */
}

.card:hover {
    background-color: #143584;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 0px;
}

.card:hover .card-test {
    background-color: #143584;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 0px;
}

.card:hover .blank {
    border-radius: 0px;
}

.card:hover .blank {
    filter: brightness(20);
    box-shadow: 0px 0px 0px 1px rgb(255, 237, 237);
}

.card:hover .btn1 {
    color: #FFFFFF;
    /* color: #143584; */
}

.card:hover .btn1 .read {
    display: block;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
}

.card:hover .icon_right {
    opacity: 0;
}

.card:hover .readmore-icon-white {
    opacity: 1;
}

.btn1 {
    text-decoration: none;
    transition: 0.3s;
    display: flex;
}

.read {
    display: none;
    padding-left: 5%;
    margin-left: 6.5px;

}

 

/* responsive */

.treatments-icon-prev {
    margin-left: -8%;
    margin-top: 40px;
}

.treatments-icon-next {
    margin-left: 49%;
    margin-top: -38.5px;
}

.card:hover .box-icon {
    background-color: #143584 !important;
    padding: 0px;
    border: none;
    box-shadow: none;
}

.card-height-re {
    height: 250px;
    width: 80%;
    padding-bottom: 5px;
}

.card-title-re {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
}

.read-re {
    display: none;
    padding-left: 5%;
    margin-left: 6.5px;

}

.card:hover .btn1 .read-re {
    display: block;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
}

























/* ================================================= About Us ================================================== */


.about-main-bg-img {
    background-image: url(image/about-bg-img2.png);
    background-size: cover;
    border-radius: 10px 0px 150px 10px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    /* max-width: 2000px; */

}

.aboutus-main-section {
    width: Hug (706px)px;
    height: Hug (496px)px;
    top: 3200.09px;
    left: 241px;
    gap: 40px;
    opacity: 0px;
}

.learnmore-icon {
    width: 12.94px;
    height: 12.93px;
    margin-left: 7px;
}

.team1 {
    height: 50%;
    margin-left: 75px;
}

.team-2 {
    margin-top: -90px;
    height: 25%;
    margin-left: 100px;
}

.team-3 {
    margin-top: -90px;
    height: 25%;
    margin-left: 100px;
}

.view-btn {
    margin-top: -15%;
    margin-left: 3%;
}

.bd-highlight {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 600;
    line-height: 35.16px;
    text-align: left;
}

.card-about-lorem {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
}

.about-icon-img {
    width: Hug (135px)px;
    height: Hug (41px)px;
    gap: 25px;
    opacity: 0px;

}

.clip-path {
    clip-path: polygon(3% 0%, 90% 0%, 90% 100%, 40% 0%);
    background-color: #143584;
    position: relative;
    left: 80%;
    width: 20%;
    top: -50px;
    height: 20px;
    /* border-radius: 20px 2px 2px 2px; */
}

.Homepage_ourTeam_btn {
    background-color: #143584;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    text-align: center;

}

.team-view-icon {
    width: 12.94px;
    height: 12.93px;
    margin-left: 10px;
    margin-top: -3px;


}

.about-img {
    margin-top: -90px !important;
}

.about_main {
    width: 18rem;
}

@media screen and (max-width: 768px) {
    .about_main {
        width: 50%;
        margin-top: 10px;
    }
}

.card1 {
    width: 100%;
}

.about {
    color: #143584;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
}

.we-care {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: left;
}

.we-stand {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
}

.Polytrauma {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;

}

.about-arrow-img {
    width: 15px;
    height: 15px;
    gap: 10px;
    margin-top: -5px;
}

/* .about-arrow-main {
  width: Hug (142px)px !important;
  height: Hug (21px)px;
  gap: 10px;
 } */

.about-multi {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.About_cards {
    background-color: #ffffff;

    border-radius: 15px;
    padding: 10px;

    width: 245px;
    height: 158px;
    margin-left: 30%;
    /* top: 3741px; */
    /* left: 323px; */

    width: Hug (215px)px;
    height: Hug (103px)px;
    top: 3766px;
    left: 338px;
    gap: 20px;
    opacity: 0px;


}

.learn-more-btn {
    background-color: #143584;
    width: Hug (171px)px;
    height: Fixed (51px)px;
    padding: 15px 20px 15px 20px;
    gap: 10px;
    /* border-radius: 5px 0px 0px 0px; */
    opacity: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .About_cards3 {
        margin-left: 10%;
        margin-top: 10px;
    }
}

/* .about_three_cards {
    margin-top: -5%;
} */


/* ================================================= Our team ==================================================== */

.two-heading {
    width: Hug (482px)px;
    height: Hug (85px)px;
    left: 479px;
    gap: 10px;
    opacity: 0px;
}

.ourteam-main-section {
    width: Hug (1, 440px)px;
    height: Hug (783px)px;
    top: 4009px;
    left: 240px;
    gap: 25px;
    opacity: 0px;
}


.Team_main {
    width: Hug (1, 440px)px;
    height: Hug (783px)px;
    top: 4009px;
    left: 240px;
    gap: 25px;
    opacity: 0px;
}

.icon-t {
    width: 40px;
    height: 40px;
    background-color: #dfe6fc;
    /* Icon background color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.icon-t {
    background-size: 50%;
    /* Adjust size of the icon */
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6edfe;
    color: #143584;
}



.bg-transparent {
    width: Hug (135px)px;
    height: Hug (41px)px;
    gap: 25px;
    opacity: 0px;
}
 


/* ==== */

.clip-radhe {
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% -40%); */
    clip-path: polygon(3% 0%, 90% 0%, 90% 100%, 60% 0%);
    background-color: #143584;
    position: relative;
    left: 80%;
    width: 20%;
    top: -130px;
    height: 15px;
    /* border-radius: 5px !important; */
}

.card-radhe {
    position: relative;
    /* Make the parent element relative */
}

.about_three_cards {
    margin-top: -5%;
}

@media screen and (max-width: 1024px) {
    .about_three_cards_main {
        background-color: white;
        height: 70px;
    }

    .about_three_cards {
        margin-top: 0%;
    }
}

@media screen and (max-width: 768px) {
    .about_three_cards_main {
        background-color: white;
        height: 100%;
    }
}

.team-box {
    position: absolute;
    width: 80%;
    bottom: -95px;
    left: 10%;
    right: 5%;
    margin-bottom: 20px;
    background-color: white;
    color: #143584;
    padding: 10px;
    /* border-radius: 1px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 1;

}

.bharat-card-team-box {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: center;
}

.team-box:hover {
    background-color: #143584;
    color: #ffffff !important;
}

.team-box.icon-t:hover {
    color: #ffffff !important;
    /* background-color: #9ea6b5; */

}

.team-box:hover .clip-radhe {
    background-color: #ffffff;

}

.icon-team {
    position: relative;
    margin-right: 18px;
    /* top: -15px; */
    font-size: 25px;
    color: #143584;
    background-color: #e2e9f9;

}


/* ================================================ Review =====================================================*/


@media screen and (max-width:320px) {
    .carousel-control-prev {
        position: relative;
        left: 10px;
    }
}


.Testimonial_bg {
    background: url("./Image/bg_Testi2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* height: 900px; */
    background-size: cover;
    top: 2071px;
    gap: 0px;
    opacity: 0px;


    /* width: 100%;
    height: 100%; */
    /* background-image: url("./Image/bg_Testi2.png"); */
    /* Replace with your background image */
    /* background-size: cover; */
    /* z-index: -1; */
    /* Make sure it's behind the review content */

}


.review-in-img {
    margin-left: 18%;
    height: 40px;
    width: 40px;
    margin-top: -55%;
    /* margin-top: -% !important; */
}

.review-in-img2 {
    margin-top: -5% !important;
    margin-left: 60px;
    height: 50px;
    width: 50px;

}

.review-in-img3 {
    margin-left: 82%;
    height: 40px;
    width: 40px;
    margin-top: -49%;

}

.review-in-img4 {
    margin-top: -15% !important;
    margin-left: 89%;
    height: 30px;
    width: 30px;
}

    /* 
    @media screen and (max-width: 768px) {
        .Testimonial_bg {
            background: url("./Image/bg_Testi_mobile.png");
            background-size: 105%;
            background-repeat: no-repeat;

        }
    } */

.social-icons-review {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    background-color: #e3ecff;
    border-radius: 50px;
    margin-left: -100%;
    margin-top: -90%;
    cursor: pointer;
    width: 40px;

}

/* .review-slider-section{
  width: 1060px;
    height: 319px;
    top: 5127px;
    left: 430px;
    gap: 0px;
    opacity: 0px;
} */

.harshad-review {
    color: black;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}


.review-img1 {
    position: relative;
    margin-top: -40%;
    margin-right: 60%;
}

.review-img2 {
    position: relative;
    margin-top: -2%;
    margin-left: 60%;
}

.review-img3 {
    position: relative;
    margin-right: 90%;
}

.review-img4 {
    position: relative;
    margin-left: 80%;
    margin-top: -70px;
}

.review-icon1 {
    margin-right: -213%;
    font-size: 20px;
    color: black;
    margin-top: -35px;
}

.review-icon2 {
    margin-left: -100%;
    font-size: 20px;
    margin-top: -35px;
}

.param-review {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: center;
    color: #143584;
    margin-left: 2%;
    margin-top: 30%;
}

.stars {
    margin-left: 7px;

}

.stars-1 {
    margin-right: 4px;
    margin-top: 5px;


}

.star-lorem {
    margin-top: 10px;
    color: black;

}

/* =================================================== blog and news ============================================= */

.blog-slider-section {
    width: 100%;

}

.blog-full-section {
    background-color: #FFFFFF;
    position: relative;
    z-index: 300;
    flex: 1;
}

.slider {
    overflow-x: scroll;
}

.blog-main-section {
    width: 588px;
    height: 390px;
    /* top: 5637px;
  left: 240px; */
    gap: 45px;
    opacity: 0px;
}

.readmore-icon-b {
    margin-left: 20px;
    margin-top: -0px;
}

.carousel-inner-main-section {
    width: 1246px;
    height: 528px;
    /* top: 5637px;
    left: 878px; */
    gap: 0px;
    opacity: 0px;
}

.Index_Blog_mini_card {
    background-color: #143584;
    padding: 10px 16px;
    position: absolute;
    z-index: 1;
    border-radius: 10px 10px 0px 0px;
    margin-top: -44px;
}

.blog-view-icon {
    width: 12.94px;
    height: 12.93px;
    margin-left: 6px;

}

.param1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: center;
    color: #143584;
    /* margin-left: 0.5%; */

}

.our1 {
    font-family: Roboto;
    font-size: 35px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: start;
    margin-top: 7px;
}

.nov {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: center;
}

/* .img-in-date {
  position: absolute;
  top: 28%;
  left: 0px;
  background-color: #143584 !important;
  border-radius: 5px 5px 0 0;
  z-index: 1;
  padding: 6px;
  width: 110px;
  height: 36px;
} */

.Homepage_ourTeam_btn2 {
    background-color: #143584;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
    margin-left: -70%;
    margin-top: 6%;
}

.blog-in-img {
    margin-top: -10%;
}

.card-title-blog {
    color: #143584;
    font-size: 22px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;

}

.card-text-blog {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: black;
}

.Homepage_ourTeam_btn-form {
    background-color: #143584;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
    width: 20%;
}

.blog-text-lorem {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 22px;
    margin-top: 6%;
}

.get-in {
    height: 485px;
    top: 6265px;
    left: 240px;
    border: 1px 0px 0px 0px;
}

.get-in-img {
    margin-bottom: 70px;
}


/* ================================================ get in touch =================================================== */


.firstname {
    width: 305px;
    height: 51px;
    top: 6377px;
    left: 280px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    /* padding-right: calc(var(--bs-gutter-x)* .5) !important; */
}

.comment {
    /* margin-left: -20px; */
    width: 97%;
}

.form-control {
    height: 51px;
    border-radius: 5px 5px 5px 5px;
}

.get-submit-icon {
    width: 12.94px;
    height: 12.93px;
    margin-left: 6px;
    margin-top: -3px;

}

.form-main {
    width: 630px;
    height: 250px;
    top: 6377px;
    left: 280px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.get-in1 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: center;
    margin-left: 3px;
}

.touch1 {
    color: #143584;

}

.Homepage_ourTeam_btn2-get {
    background-color: #143584;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
    margin-left: -81%;
    margin-top: 3%;
}


/* ======================================================= Footer =================================================== */


.footer {
    background: #edf1fd;
    background-image: url('./Image/footer_bg_img1.png');
    background-size: 100%;
    background-position: 10% 100%;
    background-repeat: no-repeat;
    margin-top: 10%;

}


.in-main {
    /* width: 1074px; */
    height: 80px;
    top: 6900px;
    left: 423px;
    gap: 0px;
    opacity: 0px;
}

.email-textfild {
    width: 340px;
    height: 21px;
    top: 6930px;
    left: 942px;
    padding: 0px 254px 0px 0px;

}

.subscribe-main {
    width: Hug (385.14px)px;
    height: Hug (78px)px;
    top: 6902px;
    left: 423px;
    gap: 15px;
    opacity: 0px;

}

.footer-submit-icon {
    width: 12.94px;
    height: 12.93px;
    margin-left: 6px;
    margin-top: -3px;

}

.subscribe1 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    text-align: left;
}

.subscribe2 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
}

.footer-icon {
    color: #143584;

}

.footer-subscribe {
    margin-left: 149px;
    background-color: #ffff;
    margin-top: -90px;

    width: 1240px;
    height: 180px;
    top: 6850px;
    left: 340px;
    gap: 0px;
    opacity: 0px;
}

@media screen and (max-width:768px) {
    .footer-subscribe {
        margin-left: 15%;
    }
}


.footer-contact {
    margin-left: 15px;
}

.footer-text-size {
    font-size: 15px;
    line-height: 30px;


}

/* .main_page {
    width: 80%;
    padding: 150px 0px 0px 0px;
    margin-left: 90px;
} */

@media screen and (max-width:768px) {
    .main_page {
        width: 127px;
    }
}

.our-line {
    border-right: 1px solid rgba(172, 172, 172, 0.756);

}

@media screen and (max-width:800px) {

    .our-line {
        border-right: none;
    }
}

.ourvision {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    color: #143584;
}

.ourmission {
    margin-left: 730px;
    margin-top: -120px;
}

.in-text-our {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.subscribe-btn {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}


.nav-item-f {
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    padding: 15px 0;
    margin-bottom: 15px;
}

.nav-item-f::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 3px;
    display: block;
    background: #143584;
    transition: width 0.3s;
    bottom: 0;
    left: 0;
}

.footer-in-firstline {
    width: 289px;
    height: 277px;
    top: 7080px;
    left: 240px;
    gap: 0px;
    opacity: 0px;
}




/* ============***************=============********************====================*****************============= */




/* =============================== About Us ========================== */

.home-page2 {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.main-image2 {
    background-image: url('./Image/all-bg-circel.png');
    background-size: cover;
    background-color: red;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    max-width: 2000px;

}

.aboutus-main-section {
    width: Hug (706px)px;
    height: Hug (496px)px;
    top: 3200.09px;
    left: 241px;
    gap: 40px;
    opacity: 0px;
}

.learnmore-icon {
    width: 12.94px;
    height: 12.93px;
    margin-left: 7px;
}

.team1 {
    height: 50%;
    margin-left: 75px;
}

.team-2 {
    margin-top: -90px;
    height: 25%;
    margin-left: 100px;
}

.team-3 {
    margin-top: -90px;
    height: 25%;
    margin-left: 100px;
}

.view-btn {
    margin-top: -15%;
    margin-left: 3%;
}

.bd-highlight {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 600;
    line-height: 35.16px;
    text-align: left;

}

.card-about-lorem {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
}

.about-icon-img {
    width: Hug (135px)px;
    height: Hug (41px)px;
    gap: 25px;
    opacity: 0px;

}

.clip-path {
    clip-path: polygon(3% 0%, 90% 0%, 90% 100%, 40% 0%);
    background-color: #143584;
    position: relative;
    left: 80%;
    width: 20%;
    top: -50px;
    height: 20px;
    /* border-radius: 20px 2px 2px 2px; */
}

.Homepage_ourTeam_btn {
    background-color: #143584;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    text-align: center;

}

.team-view-icon {
    width: 12.94px;
    height: 12.93px;
    margin-left: 10px;
    margin-top: -3px;


}

.card1 {
    width: 100%;
}

.about {
    color: #143584;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
}

.we-care {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: left;
}

.we-stand {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
}

.Polytrauma {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;

}

.about-arrow-img {
    width: 15px;
    height: 15px;
    gap: 10px;
    margin-top: -5px;
}

/* .about-arrow-main {
  width: Hug (142px)px !important;
  height: Hug (21px)px;
  gap: 10px;
 } */

.about-multi {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.learn-more-btn {
    background-color: #143584;
    width: Hug (171px)px;
    height: Fixed (51px)px;
    padding: 15px 20px 15px 20px;
    gap: 10px;
    /* border-radius: 5px 0px 0px 0px; */
    opacity: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-align: center;
    margin-top: 20px;
}

.Book_img_doctor {
    margin-top: 20px;
}

.herosection_heading2 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    text-align: left;
    margin-left: -45px;
    margin-top: 71px !important;
}

.main_page_img2 {
    margin-left: 46%;
    /* margin-top: -10%; */
}

/* ================================================ services =============================================== */

.herosection_heading3 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    text-align: left;
    margin-left: -84px;
    margin-top: 10px !important;
}

.main_page_img {
    margin-left: 60%;
}



/* ============================================== opd ===================================================== */

.card-title1 {
    color: #143584;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    /* text-align: center; */
}


.card-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}



/*=============================================== our team ============================================== */

.second-text {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

}

.team-lorem-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.bharat {
    color: #143584;
    right: 30px;
    margin-top: 10%;
}

.teamicon {
    color: #143584;
    margin-right: 10px;
}

.surgeon {
    margin-left: 36px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 600;
    line-height: 35.16px;
    text-align: left;
}

.first-main-text-section {
    margin-top: -40px;
}

.team-main {
    margin-top: -20px;
    font-size: 18px;
}


/* ---------blogin----------- */


.lorem-hight {
    font-size: 17px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.blogin-lorem-text {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.from-blogin {
    font-family: Roboto;
    font-size: 35px;
    font-weight: 600;
    line-height: 41.02px;
    text-align: left;
}

.card-title-blog2 {
    font-size: 18px;
    margin-top: -15%;
}

.card-text2 {
    font-size: 10px;
}

.main-image-b {
    width: Hug (679px)px;
    height: Hug (767px)px;
    gap: 25px;
    opacity: 0px;
}



/* =========================================== Book Appointment ============================================= */


.book-bg {
    background: url(./Image/book.png);
    height: 100%;
    background-repeat: no-repeat;

}


.book1 {
    color: #143584;
    font-weight: 700;
    font-size: 40px;
    margin-top: 80px;
}

.book2 {
    color: black;
}

.book-form {
    background-color: white;
    box-shadow: 1px 1px 10px rgb(233, 232, 232);
    padding: 50px;
    top: 33px;
    position: relative;
    border-radius: 20px;

}

.book-btn {
    background-color: #143584;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}


.Bookapp_bg_img {
    background-color: #E8F2FF;
    background-image: url('./Image/all-bg-circel.png');
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
}

.Book_img_doctor {
    padding: 80px 0px 0px 0px;
}




/* ========================================== ourtreatments ================================================= */


.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    padding: 0;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 0px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 !important;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    margin-top: 10% !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000;
}


/* Set default inactive state */
.carousel-indicators [data-bs-target] {
    background-color: #000 !important;
    opacity: 0.5;
}

/* Change active indicator color to red */
.carousel-indicators .active {
    background-color: #143584 !important;
    width: 13px !important;
    height: 13px !important;
    opacity: 1;
}

/* Keep inactive indicators black */
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000;
}

.readmore-img1 {
    width: 30%;
    height: 20%;
    top: 828px;
    left: 584px;
    gap: 0px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
}

.readmore-img2 {
    width: 34%;
    height: 34%;
    top: 860px;
    left: 1356px;
    gap: 0px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.35px;
}

.readmore-img3 {
    width: 30%;
    height: 20%;
    top: 860px;
    left: -94px;
    gap: 0px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.35px;
}

.trauma-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.ouricon {
    color: #143584;
    font-size: 20px;
    margin-right: 10px;

}

.joint-text {
    color: #143584;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.13px;
    text-align: left;
}

.ourthin {
    margin-left: 25px;
    color: rgba(75, 76, 77, 0.607);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.out-text {
    padding: 40px;
    color: rgba(75, 76, 77, 0.607);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}





/* =====*====*====*====*====*==== Extra Css ====*====*====*====*====*====  */

.mobile-view {
    display: none;
}

@media screen and (max-width: 768px) {
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }
}